
@{
    ViewBag.Title = "LayoutHNS";
    var session = Session["taikhoan"] as HaNamSite.Models.EF.KhachHang;
    int a = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Asset/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Asset/css/index.css" rel="stylesheet" />
    <link href="~/Asset/css/menu&footer.css" rel="stylesheet" />
    <link href="~/Asset/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <title>HNS - Website tin tức và dịch vụ du lịch tại Hà Nam - Trang chủ</title>



    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap" rel="stylesheet">



    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/Asset/img/favicon.ico" />
</head>
<body onload="myLoader()">

    @*Loader for Page*@
    <div id="loader"></div>

    <div class="animate-bottom" id="myDiv">
        <div class="bg-ontop">
            <nav class="nav-menu">
                <div>
                    <a href="@Url.Action("Index", "Home")" class="logo-navtop"><img src="~/Asset/img/HANAMSITE(small).png" alt="Ha-Nam-Site"></a>
                </div>
                <!-- <div class="search-bar-navtop">
                <input type="text" placeholder="Search..">
            </div> -->
                <div class="top-nav">
                    @Html.ActionLink("Tour Du Lịch", "Index", "Tours")
                    @Html.ActionLink("Địa Điểm", "Index", "Location")
                    @Html.ActionLink("Đặc Sản", "Index", "DacSan")
                    <a href="#" id="myBtn">Liên hệ</a>
                </div>
                <div class="dropdown show">
                    <a class="dropbtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </a>

                    <div class="dropdown-content" aria-labelledby="dropdownMenuLink">
                        @if (session != null)
                        {
                            <a class="dropdown-item" href="#">@session.tenKH</a>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Đăng xuất</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="@Url.Action("LoginPage", "Home")">Đăng nhập</a>
                            <a class="dropdown-item" href="@Url.Action("Register", "Home")">Đăng ký</a>
                        }

                    </div>
                </div>
                <div class="info-contact">
                    <span>Email: mail@gmail.com</span>
                    <span>SDT: +(84) 123 456 78</span>
                </div>
            </nav>
            @* Tiêu đề trên ảnh *@
            <div class="title-in-img">
                <h2>Chào mừng đến với Hà Nam Site</h2>
                <span>Chúng tôi đưa bạn đến mọi nơi trên vùng đất Hà Nam</span>
            </div>

            <div class="show-box-best-choice">
                <div class="show-box-in">
                    <div class="show-box-content">
                        <i class="fa fa-usd fa-4x" aria-hidden="true"></i>
                        <h4>Giá cả</h4>
                        <span>Luôn có mức giá phù hợp</span>
                    </div>
                    <div class="show-box-content">
                        <i class="fa fa-ticket fa-4x" aria-hidden="true"></i>
                        <h4>Đặt tour</h4>
                        <span>Nhanh chóng và dễ dàng</span>
                    </div>
                    <div class="show-box-content">
                        <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                        <h4>Thanh toán</h4>
                        <span>Đảm bảo an toàn và đa dạng</span>
                    </div>
                    <div class="show-box-content">
                        <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                        <h4>Hỗ trợ</h4>
                        <span>Hotline & Email (8h00 - 22h00)</span>
                    </div>
                </div>
            </div>
        </div>

            <div class="contact-us-form" id="myModal">
                <div class="modal-content">
                    <form action="#" id="form1">
                        <span class="close">&times;</span>
                        <h2>LIÊN HỆ</h2>
                        <div class="fomrgroup">
                            <input type="text" name="name" id="fname" placeholder="Họ tên" autofocus>
                        </div>
                        <div class="fomrgroup">
                            <input type="text" name="Email" id="femail" placeholder="Email">
                        </div>
                        <div class="fomrgroup">
                            <textarea placeholder="Nội dung" id="fcontent" name="context"></textarea>
                        </div>
                        <div class="fomrgroup">
                            <input type="submit" value="Gửi yêu cầu" />
                        </div>
                    </form>
                </div>
            </div>


            <div class="wrapper">
                <div class="bg-bodyindex">
                    @RenderBody()
                </div>
            </div>

            <!-- Site footer -->
            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h6>Giới thiệu</h6>
                            <p class="text-justify">HNS - Hà Nam Site thuộc công ty TNHH MTV công nghệ kỹ thuật Tiên Phong, Website cung cấp thông tin và dịch vụ du lịch tại Hà Nam với hơn 30 tour du lịch chất lượng đang hoạt động. Ngoài ra còn cung cấp thêm những thông tin bổ ích về những địa điểm thú vị, độc đáo hay những nét văn hóa về lối sống, phong tục tập quán của người dân ở vùng đất Hà Nam tươi đẹp. </p>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <h6>Danh mục</h6>
                            <ul class="footer-links">
                                <li><a href="#">Tour du lịch</a></li>
                                <li><a href="#">Phòng khách sạn</a></li>
                                <li><a href="#">Văn hóa</a></li>
                                <li><a href="#">Đặc sản</a></li>
                                <li><a href="#">Địa điểm thú vị</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <h6>Thông tin liên hệ</h6>
                            <ul class="footer-links">
                                <li><a href="#">Giới Thiệu</a></li>
                                <li><a href="#">Liên Hệ</a></li>
                                <li><a href="#">mail@gmail.com</a></li>
                                <li><a href="#">+(84) 123 456 78</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <p class="copyright-text">
                                Copyright &copy; 2022 All Rights Reserved by
                                <a href="#">Công ty TNHH MTV công nghệ kỹ thuật Tiên Phong</a>.
                            </p>
                            <p class="copyright-text">
                                Developed &copy; by
                                <a href="#">Huynh Thy</a>.
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    @Scripts.Render("~/Asset/js/Loader.js")
    @Scripts.Render("~/Asset/js/ModalBox.js")
    @Scripts.Render("~/Asset/js/ModalBoxForMap.js")
</body>
</html>
